{% extends "base.html.twig" %}

{% block content %}
    <h1>Departments</h1>

    <a href="?controller=department&action=new">Create new</a>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>University</th>
        </tr>
        {% for item in items %}
            <tr>
                <td>
                    {{ item.id }}
                </td>
                <td>
                    {{ item.name }}
                </td>
                <td>
                    {{ item.university }}
                </td>
                <td>
                    <a href="?controller=department&action=edit&id={{ item.id }}">edit</a>
                </td>
                <td>
                    <a href="?controller=department&action=delete&id={{ item.id }}">delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}